#navP.navbar{
    background-color: gray;
    padding: 0%; 
  }
  #navP  .nav-item:hover{
  background-color: #96A834;
  
  }
  
  .navbar .nav-item .dropdown-menu{ 
    display: none; 
    flex-direction: column;
  }
  #navP .nav-item:hover .nav-link{ 
    color: white;  
    font-weight: bolder;
    
  }
  #navP .nav-item .nav-link{ 
    color: white;  
    font-weight: bolder;
    font-size: 15px;
    width: 160px;
    text-align: center;
  }
  .nav-item:hover .dropdown-menu{ 
    display: block; 
    background-color: white;
  }
  .dropdown-item:hover, .dropdown-item:focus{
    color: white;
    background-color: #97a83480;
    font-weight: bold;
  }
  .dropdown-item, .dropdown-item{
    color: gray;
    width: 160px;
    text-align: center;
}
  #navP .navbar .nav-item .dropdown-menu{
    margin-top:0; 
  }
  #navP .navbar-brand{
    color: white;
  }
  #navP.navbar-brand:hover{
    background-color: #96A834;
    color: white;
  }
  .MiPortal{
    width: 150px;
    font-weight: 900;
   
}
.ESINbnt .btn{
  color: white;
  background-color: transparent;
  border:transparent;
  border: 0px solid transparent;
  font-weight: 900;
}